/* 메인 배경색과 텍스트 색상 */
body {
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 (추가적으로 높이를 맞출 경우 대비) */
}

.logo {
    font-family: Arial, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.fam {
    color: white;
    font-size: 2.5rem;
}

.hub {
    color: black;
    background-color: #FF9900; /* Orange background */
    font-size: 2.5rem;
    line-height: 1.3;
    padding: 0rem 0.1em;
    border-radius: 0.2em; /* Rounded corners */
    margin-left: 0.2em;
}

/* 컨테이너 스타일 */
.main-container {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    transition: max-width 0.3s ease; /* 부드럽게 변경 */
}

/* 미디어 쿼리: 브라우저 너비가 작아질 때 */
@media (max-width: 1200px) {
    .main-container {
        max-width: 70%; /* 브라우저 너비가 작아지면 컨테이너 넓어짐 */
    }
}

@media (max-width: 768px) {
    .main-container {
        max-width: 90%; /* 태블릿 크기 */
    }
}

@media (max-width: 576px) {
    .main-container {
        max-width: 100%; /* 모바일 크기 */
        padding: 10px; /* 패딩 축소 */
    }
}

.logo .highlight {
    color: #ff9900;
}

/* 검색 박스 스타일 */
.search-container .form-control {
    border-radius: 0.3em;
    border: none;
}

.search-container .search-button {
    background-color: #ff9900;
    border: none;
    color: #ffffff;
    font-weight: bold;
}

.search-container .search-button:hover {
    background-color: #ffffff;
    color: #000000;
}

/* 결과 컨테이너 스타일 */
.result-container {
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 8px;
    margin-top: 20px;
}

/* 테이블 스타일 */
.table {
    color: #ffffff;
    border-color: #333333;
}

.table th, .table td {
    color: #ffffff;
}

/* 이미지 스타일 */
.img-fluid {
    max-height: 300px;
    margin: 10px auto;
    /* border: 2px solid #ff9900; */
    border-radius: 5px;
}

.description {
    color: #cccccc;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    margin-top: 1em;
}

#result {
    display: none;
}