<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fam hub</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div class="container-fluid main-container">
    <header class="py-3 text-center">
        <div class="logo">
            <span class="fam">Fam</span>
            <span class="hub">hub</span>
          </div>
    </header>
    <div class="search-container text-center">
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="urlInput" placeholder="https://www.example.com/product/12345">
            <button class="btn btn-primary search-button text-black" id="searchButton">검색</button>
        </div>
        <div class="description mt-3">
            <p>1. 검색창에 상품상세페이지 주소를 입력해 주세요.</p>
            <p>2. 저장된 URL은 매일 출고 가격과 임직원 가격을 저장합니다.</p>
            <p>3. 최근 3일간 데이터를 받아오지 못한 상품은 더 이상 가격을 추적하지 않습니다.</p>
        </div>
    </div>
    <div id="result" class="result-container mt-4 text-white">
        <!-- 동적으로 결과 추가 -->
    </div>
</div>
<script src="/static/js/index.js"></script>
</body>
</html>
